.buttons {
  width: 150px;
  text-align: center;
}
.button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #1b1b1b;
  color: #ffffff;
  font-size: 20px;
  border-radius: 8px;
  z-index: 1;
  border: none;
  padding: 5px 5px;
}
.sectionLeft {
  width: 17%;
  color: #1b1b1b;
	font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.sectionRight {
  width: 17%;
  align-content: center;
	text-align:center;
  display: inline-block;
  text-align: left;
}
.sectionMiddle{
  width: 66%;
  float: inline-start;
  align-content: center;
	text-align:center;
  position: relative;
}
#Rolls #Slot {
  border: 8px solid #1b1b1b;
  width: 13rem;
  display: table-cell;
  text-align: center;
  padding: 15px;
}
#Rolls #Slot #slots {
  position: absolute;
  margin-bottom: 90px;
}
#Rolls #Slot #S1, #Rolls #Slot #S5 {
  width: 5.5rem;
  height: 5.5rem;
}
#Rolls #Slot #S2, #Rolls #Slot #S4 {
  width: 8.5rem;
  height: 8.5rem;
}
#Rolls #Slot #S3 {
  width: 12rem;
  height: 12rem;
}

#rewards {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #1b1b1b;
  font-size: 20px;
  border-radius: 8px;
  z-index: 1;
  border: none;
  padding: 5px 5px;
}
#rewards #tier {
  border: 8px solid #1b1b1b;
}
#rewards div {
  display: flex;
}
#rewards h1 {
  margin: 25px;
  margin-top: 45px;
  margin-left: 35px;

  font-size: 35px;
  font-family: Helvetica, sans-serif;
}
#rewards img {
  width: 8rem;
  height: 8rem;
}
#rewards #tier {
  vertical-align: middle;
}
#rewards #reward img {
  width: 3rem;
  height: 3rem;
}

#endButton {
  display: none;
}
